---
- hosts: all
  become: true
  tasks:
    - name: custom module
      first_custom_module:
        name: "value of name argument"
        description: "description value"
      register: output_module_1
    - name: second custom module
      second_module:
        file_name: "file_from_custom.txt"
        file_content: "content of file from custom module"
      register: output_module_2

    - name: scann port
      port_scanner:
        ports:
          - 80
          - 443
          - 8080
      register: output_module_scanner
    - name: debug
      debug:
        var: output_module_scanner.result | port_filter
#      with_items:
##        - output_module_1
##        - output_module_2
#        - output_module_scanner